<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorator="LayoutPrincipal">
<head>
<title>Login de usuario</title>
</head>
<section layout:fragment="conteudo">
	<div class="container">
		<form class="form-horizontal" method="POST" action="login" th:object="${user}">
			<div class="row justify-content-md-center">
				<div class="col-md-8">
					<div class="card text-center">
						<div class="card-header">
							<h1>Login</h1>
						</div>
						<div class="card-body">
							<ul class="list-group list-group-flush">
								<li class="list-group-item">

									<label class="card-text">Usuario</label>
									<div>
										<input type="text" class="form-control" id="username"/>
									</div>
								</li>
								<li class="list-group-item">
									<label class="card-text">Senha</label>
									<div>
										<input type="password" class="form-control" id="password">
									</div>
								</li>
								<li class="list-group-item">
									<div>
										<button type="submit" class="btn btn-sucess">Salvar</button>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
</section>
</html>